@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family-satoshi: 'Satoshi', sans-serif;
  --font-family-manrope: 'Manrope', 'Manrope Fallback';
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
span {
  font-family: var(--font-family-satoshi);
}
.font-manrope {
  font-family: var(--font-family-manrope);
}

h1 {
  font-size: 64px;
  font-weight: 500;
  line-height: 110.954%;
  letter-spacing: -2.048px;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 110.954%;
  letter-spacing: -0.672px;
}

h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.28px;
}

/* Medium screens (tablets) */
@media (max-width: 1024px) {
  h1 {
    font-size: 48px;
    letter-spacing: -1.5px;
  }

  h2 {
    font-size: 40px;
    letter-spacing: -0.5px;
  }

  h5 {
    font-size: 18px;
    line-height: 22px;
  }
}

/* Small screens (mobile) */
@media (max-width: 768px) {
  h1 {
    font-size: 32px;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 28px;
    letter-spacing: -0.4px;
  }

  h5 {
    font-size: 16px;
    line-height: 20px;
  }
}

